<div class="eqLogic-widget eqLogic noResize volumio" style="text-align:center;width: 220px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
    <style  type="text/css">
        #greysb {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
        }

        .playPause {
            font-size: 24px;
            width: 55px;
        }
    </style>

    <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
    <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
    <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>

    <center><strong><a href="#eqLink#" style="font-size : 1em;"> #name# </a></strong></center>
    <div style="margin-top : 5px;" class="status">
        <span class="statusspsb" title="#status#">
                #status#<br>
            </span>
        <div>
            <div class="thumbnailAlbumArt">
                <a class="cursor" style="font-size : 1em;" title="Interface de votre Volumio" id="yoursb#id#"> #albumart# </a>
            </div>
            <span class="statusspsb" title="#oriartistalbum#">
                #artistalbum#<br>
            </span>
            <span class="titlespsb" title="#orititre#">
                #titre#
            </span>
        </div>
    </div>

    <div style="margin-top : 5px;" class="playback">
        <a class="btn btn-xs cmd previous" data-cmd_id="#cmd_prev_id#" title="Précédent"><i class="fa fa-step-backward"></i></a>
        <a class="btn btn-xs cmd play playPause" data-cmd_id="#cmd_play_id#"><i class="fa fa-play" title="Lecture"></i></a>
        <a class="btn btn-xs cmd pause playPause" data-cmd_id="#cmd_pause_id#"><i class="fa fa-pause" title="Pause"></i></a>
        <!--        <a class="btn btn-circle btn-xs cmd stop" data-cmd_id="#cmd_stop_id#"><i class="fa fa-stop" title="Stop"></i></a>-->
        <a class="btn btn-xs cmd next" data-cmd_id="#cmd_next_id#"><i class="fa fa-step-forward" title="Suivant"></i></a>
    </div>

    <script>
//        if ('#state_nb#' == 1) {
//            $('.volumio[data-eqLogic_id=#id#] .cmd.play').hide();
//        } else {
//            $('.volumio[data-eqLogic_id=#id#] .cmd.pause').hide();
//        }
        $('.volumio[data-eqLogic_id=#id#] .cmd').on('click', function () {
            jeedom.cmd.execute({id: $(this).data('cmd_id')});
        });
        $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });
        
    </script>
</div>